.App {
  display: flex;
  justify-content: center;
  background-color: gray;
  min-height: 100vh;
}

.App-Content{
  background-color: #230D40;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}