@import url('https://fonts.googleapis.com/css2?family=Montserrat:wgth@800&display=swap');

.App {
  display: flex;
  justify-content: center;
  background-color: gray;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; /* Bold */
}

.App-Content{
  background-color: #230D40;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}