.People-Info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: white;
}

.Left-Card-Person,
.Right-Card-Person {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.Left-Card-Person img,
.Right-Card-Person img {
    width: 200px;
    height: 250px;
    background: center/cover no-repeat #3f3f5f;
    border-radius: 10px 10px 10px 10px;
    clip-path:  polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
}

.Left-Card-Person-Info{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.Left-Card-Person-Info h1 {
    margin-top: 10px;
}

.Left-Card-Person-Info span{
    text-align: left;
}

.Right-Card-Person-Info{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.Right-Card-Person-Info h1 {

}

.Right-Card-Person-Info span{
    text-align: right;
}